#tiles_insertTemplate({"template":"template.vm"})
  #tiles_putAttribute({"name":"title", "value": "Lista wydatków"})#end
  #tiles_putAttribute({"name":"body"})
	<table class="table-bordered table-striped ">
        <thead><tr><th>Id</th><th>Kategoria</th><th>Podkategoria</th><th>Co</th><th>Ile</th><th>Cena/szt</th><th>Cena</th><th>Data</th></tr></thead>
		<tbody>
        	#foreach($s in $spendings)
        		<tr><td>$!s.id</td><td>$!s.category</td><td>$!s.subcategory</td><td>$!s.name</td><td>$!s.quantity</td><td>$!s.unitPrice</td><td>$!s.totalPrice</td><td>$!s.spendingDate</td></tr>
        	#end
		</tbody>
	</table>
  #end
#end