#tiles_insertTemplate({"template":"template.vm"})
  #tiles_putAttribute({"name":"title", "value": "Sumy wydatków"})#end
  #tiles_putAttribute({"name": "navigation"})
		<ul class="nav nav-list">
			<li><a href="#springUrl("/view/spending_insert.html")">Dodawanie wydatków</a></li>
			<li><a href="#springUrl("/view/spending_list.html")">Lista</a></li>
			<li class="active"><a href="#springUrl("/view/spending_category_monthly.html")">Sumy miesięczne</a></li>
			<li class="nav-header">Import</li>
			<li><a href="#springUrl("/view/spending_import.html")">Import</a></li>
			<li class="nav-header">Ustawienia</li>
			<li><a href="#springUrl("/view/spending_groups.html")">Grupy</a></li>
		</ul>
	#end
  #tiles_putAttribute({"name":"body"})
	<table class="table-bordered table-striped ">
		<thead>
			<tr>
				<th>&nbsp;</th>
				#foreach($s in ${spendings.columnHeaders})
					<th>$!s</th>
				#end
			</tr>
		</thead>
		#foreach($s in ${spendings.rowHeaders})
			<tr>
				<th>$s</th>
				#foreach($c in ${spendings.columnHeaders})
				<td>$!{spendings.getValueAt($s, $c)}</td>
				#end
			</tr>
		#end
	</table>
  #end
#end