<!DOCTYPE html>
<html>
	<head>
		<title>#tiles_insertAttribute({"name":"title"})#end</title>
		<link href="#springUrl('/css/bootstrap.css')" rel="stylesheet" />
		<link href="#springUrl('/css/cupertino/jquery-ui-1.8.23.custom.css')" rel ="stylesheet" />
		<script src="#springUrl('/js/jquery-1.8.0.js')" ></script>
		<script src="#springUrl('/js/jquery-ui-1.8.23.custom.min.js')" ></script>
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span1">
					#tiles_insertAttribute({"name": "navigation", "ignore": true})#end
					
				</div>
				<div class="span11">
					#tiles_insertAttribute({"name":"body"})#end		
				</div>
			</div>
		</div>
        <script src="#springUrl('/js/bootstrap.js')" ></script>
	</body>
</html>
