<!DOCTYPE html>
<html>
	<head>
		<title>#tiles_insertAttribute({"name":"title"})#end</title>
		<link href="css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span1">
					#tiles_insertAttribute({"name": "navigation", "ignore": true})#end
					
				</div>
				<div class="span11">
					#tiles_insertAttribute({"name":"body"})#end		
				</div>
			</div>
		</div>
		<script src="js/bootstrap.js" type="javascript" />
	</body>
</html>